//GHEA Mariam
@font-face {
  font-family: 'GHEA Mariam Regular';
  src: url('../fonts/GHEAMariam/GHEAMariamReg.otf') format("opentype");
}

@font-face {
  font-family: 'GHEA Mariam Italic';
  src: url('../fonts/GHEAMariam/GHEAMariamRIt.otf') format('opentype');
}

@font-face {
  font-family: 'GHEA Mariam Bold';
  src: url('../fonts/GHEAMariam/GHEAMariamBld.otf') format('opentype');
}

//GHEA Grapalat
@font-face {
  font-family: 'GHEA Grapalat Regular';
  src: url('../fonts/GHEAGrapalat/GHEAGrpalatReg.otf') format("opentype");
}

@font-face {
  font-family: 'GHEA Grapalat Italic';
  src: url('../fonts/GHEAGrapalat/GHEAGrapalatRit.otf') format('opentype');
}

@font-face {
  font-family: 'GHEA Grapalat Bold';
  src: url('../fonts/GHEAGrapalat/GHEAGpalatBld.otf') format('opentype');
}
